export GOOGLE_API_KEY="your-google-ai-api-key"
export GCP_PROJECT_ID=""
export GCS_LOCATION="us-central1"
export GCS_BUCKET=""
export PHOENIX_API_KEY=""
export PHOENIX_COLLECTOR_ENDPOINT="https://app.phoenix.arize.com"
